<!doctype html>
<html ng-app="tasksApp" ng-csp>
  <head>
    <title>AddTask Popup</title>
    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-sanitize/angular-sanitize.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
    <script src="popup.js"></script>
    <script src="authentication.js"></script>

  </head>
  <body ng-controller="TasksController">
    <div>  
      <input type='text' placeholder='Add Task' ng-model="taskText">
      <button class="button" ng-click="addTask(taskText)">Add Task</button>
    </div>

  <!-- login form, hide when authenticated. -->
  <div class="list">
          <label class="item item-input item-floating-label">
            <input type="email" name="email" placeholder="Email"
             ng-model="user.email" ng-required="true" class="inputIndent">
            <p class="" ng-show="myform.email.$invalid && myform.email.$touched">
              Must be a valid email
            </p>
          </label>
          <label class="item item-input item-floating-label">
            <input type="password" name="password" placeholder="Password"
            ng-model="user.password" ng-required="true" class="inputIndent">
            <p class="" ng-show="myform.password.$invalid && myform.email.$touched">
              Password is required
            </p>
            <p class="">
              {{message}} 
            </p>
            <p>
              
              <!-- popup with email -->
              {{emailResetMessage}}
            </p>

            
          </label>
          <div class="item">
            <p>
              <a ng-click="resetPassword()" ng-href="#/login">Forgot password?</a>
            </p>
            <!-- nav-transition="none"? -->
            <button type="submit" class="button button-block" ng-disabled="myform.$invalid" ng-click="login(user.email, user.password)">Login</button>
            <p><a ng-href="#/register">Create an account</a> if you haven't yet.</p>
          </div>
        </div>

  </body>
</html>

